{% extends 'base.html' %}

{% block content %}
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <div class="w3-main" style="margin-left:250px">
        <div class="w3-row w3-padding-32">
            <div class="w3-twothird w3-container">
                <h2 class="w3-text-teal">Descargas</h2>
                <p>La información que necesitas para el desarrollo de tus actividades.</p>
                <h5 class="w3-text-teal">Buenas Prácticas Agrarias Frutihortícolas 2019</h5>
                <a href="/static/pdf/BPA FRUTIHORTICOLAS.2019_1-14.pdf" class="w3-bar-item w3-button w3-theme-l1" download="BPA F.2019">Descargar</a>
                <br>
                <h5 class="w3-text-teal">BPA Registros-Informacion general/Datos adicionales</h5>
                <a href="/static/pdf/BPA FRUTIHORTICOLAS.2019_15.pdf" class="w3-bar-item w3-button w3-theme-l1" download="BPA F.2019-a">Descargar</a>
                <br>
                <h5 class="w3-text-teal">BPA Registros-Aplicación de fitosanitarios en material vegetal de inicio/Desinfección química del suelo</h5>
                <a href="/static/pdf/BPA FRUTIHORTICOLAS.2019_16.pdf" class="w3-bar-item w3-button w3-theme-l1" download="BPA F.2019-b">Descargar</a>

                <br>
                <h5 class="w3-text-teal">BPA Registros-Esterilización de sustratos/ de fertilizaciones, abonos y enmiendas</h5>
                <a href="/static/pdf/BPA FRUTIHORTICOLAS.2019_17.pdf" class="w3-bar-item w3-button w3-theme-l1" download="BPA F.2019-c">Descargar</a>

                <br>
                <h5 class="w3-text-teal">BPA Registros-Aplicación de fitosanitarios en material vegetal de inicio/Inventario de fitosanitarios</h5>
                <a href="/static/pdf/BPA FRUTIHORTICOLAS.2019_18.pdf" class="w3-bar-item w3-button w3-theme-l1" download="BPA F.2019-d">Descargar</a>

                <br>
                <h5 class="w3-text-teal">Ley nº 7032 LEY DE BIOCIDAS</h5>
                <a href="/static/pdf/Ley 7032_Chaco.pdf" class="w3-bar-item w3-button w3-theme-l1" download="Ley 7032_Chaco.pdf">Descargar</a>

            </div>
          
            <div class="w3-third w3-container">
                <img src="/static/media/logo_tecnoagro (5).jpeg" width="300" height="200" alt="logo_5">
            </div>
        </div>
    </div>
{% endblock %}